{% extends 'base.html.twig' %}
{% block content %}

<div class="row">
    <div class="col-12 Jumbotron1">
            <div class="Jumbotron1_img">
            <a link="#" >
                <object  data="{{ asset('build/content/Jumbotron1.svg') }}" type="image/svg+xml">
                    <img  src="{{ asset('build/content/Jumbotron1.png') }}"  alt="Logo Lab5com" />
                </object>
            </a>
            <div class="Jumbotron1_title_left">
                <h2>CE QUE NOUS FAISONS</h2>
            </div>
            <div class="Jumbotron1_content_left">
                <p>LAB 5COM accompagne ses clients dans la réalisation de projets web et mobile.
                    LAB 5com est une société de conseil en technologie créée en 2010, avec pour ambition de devenir leader dans le développement web & mobile.
                    Rodée aux méthodes agiles, elle accompagne ses clients dans leur développement, leur transformation IT, et met tout en œuvre pour relever leurs défis. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 Jumbotron2">
    <div class="Jumbotron2_title">
        <h3>COMMENT NOUS LE FAISONS</h3>
    </div>
    <div class="Jumbotron2_content">
        <p>Nos experts interviennent directement au sein de vos équipes projet, en conseil, réalisation, audit et expertise. </p>
    </div>
    </div>
    <h3>NOTRE ACTUALITE</h3>
    <div class="col-12 ">
        <div class="slide_image">
            <a link="#" >
                    <img  src="{{ asset('build/content/slideHome.png') }}"  class="center-block" alt="Logo Lab5com" />
                </object>
            </a>
            <h3>SYMFONYCON 2018</h3>
            <p>Nous avons eu la chance de partir quelques jours au SymfonyCon 2018 à Lisbonne, afin d’assister à de nombreuses conférences intéressantes et de découvrir la capitale.</p>    
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col">
            <img  src="{{ asset('build/content/adults-airport-architectural-design.png') }}"  alt="Logo Lab5com" style="width:100%" />
        </div>
        <div class="col ">
            <img  src="{{ asset('build/content/abstract-conference.jpg') }}"  alt="Logo Lab5com" style="width:100%" />
        </div>
        <div class="col">
            <img  src="{{ asset('build/content/adult-art-artist.jpg') }}"  alt="Logo Lab5com" style="width:100%" />
        </div>
    </div>
</div>
<div class="jobs">


</div>



{% endblock %}